<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>



{% section 'inner-page-header' %} 
{% section 'inner-page-content-with-image-section' %} 
{% section 'inner-page-testimonials-section' %}
{% section 'inner-page-team-section' %}
